<div class="container containerMark">
    <div class="row d-flex justify-content-center">
        <div style="text-align:center">
            <h1 style="color: #5c108c;">Marcación<br>Manual</h1>
            <h6>Ingresá los siguientes datos personales</h6>
            <input class="" placeholder="" name="value" [(ngModel)]="value" [type]="isDni ? 'text' : 'password'"
                   style="    border: 1px solid;margin-top: 5%;margin-bottom: 5%;height: 50px;"/>
            <div class="simple-keyboard" style="margin-bottom: 5%;"></div>

            <img src="/assets/images/logo-vanesa-591x295px.png" class="footerLogo">
        </div>

    </div>
</div>
