<div class="container" style="position: absolute;max-width: 100%;    top: 50%;left: 50%;transform: translate(-50%, -50%);">
  <div class="row d-flex justify-content-center">
    <div style="text-align:center">
      <div class="row">
        <div class="col-sm-12">
          <h1 style="margin-top: 10%;">Bienvenida <br> Belén Casalotti!</h1>
        </div>
        <div class="col-sm-12">
          <img src="/assets/images/imagen-bienvenida.png">
        </div>
        <div class="col-sm-12">
          <span> Que tengas un buen día!</span>
        </div>
      </div>
    </div>
  </div>
</div>
