<div class="container containerMark">
  <div class="row d-flex justify-content-center">
    <div style="text-align:center">
      <h2 style="font-family: Montserrat-Bold, serif; color: #5c108c;">Ingreso</h2>
      <h2 style="color: #5c108c;">¡Bienvenid@ a <span style="font-family: Montserrat-Bold, serif;">VANESA!</span></h2>
      <div class="containerMarkCenter">
        <img src="/assets/images/icon-ingreso-156x156px.png" style="    width: 20%;">
        <h6 style="margin-top: 2%;"><span style="font-family: Montserrat-Bold, serif; color: #5c108c;">Acercá</span> tu tarjeta personal para <br> marcar el ingreso</h6>
        <h6 style="margin-top: 2%;"><span style="font-family: Montserrat-Bold, serif; color: #5c108c;">Para acceder</span> de forma manual, <br> pulsa el siguiente boton
          <a routerLink="/marcacion-manual"><img src="/assets/images/icon-ingreso-manual-27x26px.png"></a>
          para ingresar tus datos
        </h6>
      </div>

      <img src="/assets/images/logo-vanesa-591x295px.png" class="footerLogo">
    </div>

  </div>
</div>
