<div class="container" style="position: absolute;max-width: 100%;    top: 50%;left: 50%;transform: translate(-50%, -50%);">
  <div class="row d-flex justify-content-center">
    <div style="text-align:center">
      <img src="/assets/images/icono-ingreso.png">
      <h1 style="margin-top: 10%;">Marcación de Ingreso</h1>
      <h6>Ingrese su DNI</h6>
      <span> Pulse sobre el ícono   <a routerLink="/marcacion-manual"><img src="/assets/images/icono-ingreso.png" style="width: 30px; height: 30px;"></a>    para acceso manual</span>
    </div>

  </div>
</div>
